<main class="main-body">
  <% if user_signed_in? %>
    <%= form_with(url: spends_path, method: :get, local: true) do %>
      <%= label_tag :query, "検索したい項目:" %>
      <%= text_field_tag :query, params[:query], autocomplete: "off" %>
      <%= submit_tag "検索", name: nil %>
    <% end %>

    <div class="main-table">
      <div class="left-side">
        <table>
          <tr>
            <th style="border: 1px solid black; padding: 10px;">日付</th>
            <th style="border: 1px solid black; padding: 10px;">入出金</th>
            <th style="border: 1px solid black; padding: 10px;">項目</th>
            <th style="border: 1px solid black; padding: 10px;">メモ</th>
            <th style="border: 1px solid black; padding: 10px;">入出金方法</th>
            <th style="border: 1px solid black; padding: 10px;">金額</th>
          </tr>
          <% @data.each_with_index do |row, index| %>
            <tr>
              <% row.each do |key,value| %>
                <td style="border: 1px solid black; padding: 10px; text-align: center;"><%= value %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
        <div>
          <div class="right-side">
            <table>
              <tr>
                <th style="border: 1px solid black; padding: 10px;">日付</th>
                <th style="border: 1px solid black; padding: 10px;">出金合計</th>
                <th style="border: 1px solid black; padding: 10px;">入金合計</th>
              </tr>
              <% @total_outflow.each do |date, total| %>
                <tr>
                  <td style="border: 1px solid black; padding: 10px; text-align: center;"><%= date %></td>
                  <td style="border: 1px solid black; padding: 10px; text-align: center;"><%= @total_outflow[date] %></td>
                  <td style="border: 1px solid black; padding: 10px; text-align: center;"><%= @total_Inflow[date] %></td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="total-table">
            <h2>3月の出金合計</h2>
            <table>
              <tr>
                <th style="border: 1px solid black; padding: 10px;">合計金額</th>
              </tr>
              <tr>
                <td style="border: 1px solid black; padding: 10px; text-align: center;">
                  <%= @total_outflow.values.sum %>
                </td>
              </tr>
            </table>
          </div>
        </div>
    </div>

  <% else %>
    ログインしてください。
  <% end %>
</main>
