<!DOCTYPE html>
<html>
  <head>
    <title>HouseholdAccountsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="title-head">
          <%= link_to "家計簿アプリ(仮)", root_path, class: :title__btn %>
        </div>
          <div class="user-head">
            <% if user_signed_in? %>
              <div class="user-menu">
                <div class="user_menu_btn" id= "login_user">  
                  <%= current_user.nickname%>▼
                </div>
                <div>  
                  <%= link_to "ユーザー詳細", user_path(current_user.id), class: "nav__btn btn hidden", id:"option_btn0" %>
                </div>
                <div> 
                  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav__logout hidden", id:"option_btn1" %> 
                </div>
              </div>
                <% else %>
                <div class="user-menu">
                  <%= link_to "ログイン", new_user_session_path %>
                  /
                  <%= link_to "新規登録", new_user_registration_path %>
                </div>
            <% end %>
          </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="app-footer">household_accounts_app</p>
    </footer>
  </body>
</html>
